#commands {
	visibility:hidden;
}

#commands.active {
	visibility:visible;
}

.node rect {
     fill:#E2E2E2;
     stroke:#78CFE4;
     stroke-width:3;
}

.node text {
    font-family:Gotham-Medium; 
    font-size:12px;
    letter-spacing:2px;
    text-anchor:middle;
    dominant-baseline:central;
    fill:#0A7693;
}

line.connection {
    fill:#E2E2E2;
    stroke:#78CFE4;
    stroke-width:3;
}

#start.endpoint line.connection {
	visibility:hidden;
}

circle.start {
    fill:#E2E2E2;
}

circle.start:hover {
    cursor:pointer;
}

circle.end:hover {
    cursor:pointer;
}

circle.end {
    fill:#E2E2E2;
    stroke:#78CFE4;
    stroke-width:3;
	visibility:hidden;
}

.endpoint circle.end {
	visibility:visible;
}

dl {
	border:solid 3px #78CFE4;
	font-family:helvetica;
	padding:10px;
	border-radius:10px;
	width:500px;
	height:300px;
	overflow:auto;
}

dd {
	margin-left:4px;
	color:#bbb;
}
dt, dd {
	float:left;
	
}

ul dt, ul dd {
	float:none;
}

dt + dd + dd + dt {
	clear:left;
}

dl ul {
	display:none;
}

dl dd + dd:active ul {
	display:inline-block;
}
